* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat-Light";
    background: #e8e8e8;
    background: url('https://images.pexels.com/photos/6480207/pexels-photo-6480207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: auto;
    background-attachment: fixed;
}
.title {
    padding: 20px 0px;
}

h1 {
    text-align: center;
}
.menu {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

.menu li {
    display: inline-blocK;
    text-align: center;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menu li a:hover {
    background: #ef8354;
    font-family:"Montserrat";
}

.container {
    width: 1000px;
    background: #ccc;
    margin: 20px auto;
}

header {
    background: #092327;
    color: #fff;
    padding: 20px;
}

.main {
    background: #fff;
    padding: 20px;
    width: 700px;
    float: left;
    
}

aside {
    background: #EF8354;
    color: #fff;
    padding: 20px;
    width: 300px;
    height: 500px;
    float: left;
}

.foot {
    clear: both;
    background: #092327;
    color: #fff;
    padding: 20px;
}

table, td, th {
    border: 1px solid rgba(0,0,0, .1);
}

table {
    border-collapse: collapse;
    width:500px;
    text-align: center;
}

td, th {
    padding: 10px 20px;
}

th {
    background: #ef8354;
}

tr:hover {
    background: #fff;
}

.regular:hover {
    font-family: "Montserrat";
}
.form {
    background: #fff;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.form input {
    display: block; 
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 3px;
    border: 1px solid #092327;
    font-size: 12px;
}

.form textarea {
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}

.form input[type="submit"] {
    width: 200px;
    margin: 0 auto;
    background: #092327;
    border: 1px solid rgba(0,0,0, .2);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    transition:all .5s ease;
}

.form input[type="submit"]:hover {
    background: #ef8354;
}


.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    border: 2px solid #ef8354;
}

.box {
    width: 100px;
    height: 100px;
    background: #ef8354;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
.tabla-container {
   display: flex;
   justify-content: center;
}

@keyframes color {
    0%{background: #ef8354;}
    50%{background: #F5EE9E;}
    100%{background: #ef8354;}
}

@font-face { 
    font-family: "Montserrat-Italic";
    src: url('fonts/Montserrat-Italic.ttf');
}
@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "Montserrat-Light";
    src: url('fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('fonts/Montserrat-SemiBold.ttf');
}